<p style="color: green; text-align: center;"><%= notice %></p>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<div class="button-container">
<%= link_to "ADD NEW CATEGORY", new_group_path, class: "new-group-link create-button" %>
</div>